body{
    padding-top:70px;
    background-color:#FEFEFE;
}
blockquote{
    margin:0;
}
h1 {
    padding-top:70px;
}
.navbar-fixed-top{
  background-color:#396DBB;
  color:#E4E112;
  font-weight: 600;
}

.wrapper{
    margin:10%;
    width:80%;
    border: solid 1px black;
}
.padder{
  padding:30vh;
}

.navbar-default .navbar-nav>li>a{
  font-size:30px;
  color:#EAD10A;
}

.title {
  font-family: 'PT Mono';
  font-size: 3em;
  color: #7D7D7D;
  text-align:center;
  margin: auto;
  padding: 3vh;
}
.index-list ul li{
  list-style: none;
  font-size: 11px;
  text-decoration: none;
  color: #0B1117;
  font-weigth: 700;
}
.quote-zoroastro{
    background-color:#FFBEBE;
    color:#A20808;
    padding:5vh;
}
.quote-vishnu{
    background-color:#E4F6D9;
    padding:5vh;
}
.quote-laoTse{
    background-color:#FFE9B4;
    padding:5vh;

}
.quote-siddhartha{
    background-color:#96D2E3;
    color:#fff;
    padding:5vh;
}
.bg-primary{
    maring:0%;
    padding:5%;
    text-align:center;
    font-family:Helvetica;
    font-size:10px;'>
}

.navbar-default .navbar-brand {
  color:#1CC1B5;
  font-size: 26px;
}

@media (max-width: 768px){
  .wrapper{
    margin:0px;
    padding:10px;
    width:100%;
  }
  .padder{
    margin:0px;
    padding:10px;
  }
}
